<!DOCTYPE html>
<html ng-app="jhades-app">
    <head>
        <!--script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script-->    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <meta name="description" content="JHades is a Java classpath troubleshooting tool. It helps to solve common Java classpath / Jar Hell related problems such as ClassNotFoundException, NoClassDefFoundError, ClassCastException, NoSuchMethodException, LinkageError, etc." />           
        <title>jHades Downloads</title>
        <!-- build:css jhades-site.min.css -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link href="css/prettify.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="css/jhades.css">
        <link rel="stylesheet" type="text/css" href="css/docs.css">
        <link rel="stylesheet" type="text/css" href="css/DT_bootstrap.css"> 
        <!-- endbuild -->
        <script>
            if (document.URL.search("localhost") == -1) {

                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-42787305-1');
                ga('send', 'pageview');
            }
        </script>
    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar" onload="prettyPrint()">

    <div class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="navbar-inner"> 
            <div class="container"> 
                <a class="brand" href="index.html">jHades</a> 
                <ul class="nav"> 
                    <li class="active"> <a href="index.html">Home</a> </li> 
                    <li> <a href="downloads.html">Download</a> </li> 
                    <li> <a href="documentation.html">Documentation</a> </li> 
                </ul>   
            </div> 
        </div> 
    </div>


<div class="container">
    <div class="row">
        <div class="span12">

            <section>
                <div class='page-header'>
                    <h3>Downloads</h3>
                </div>

                <p>Click these links for a direct download:</p>

                <ul ng-controller='JHadesDonwloadController'>
                    <li>
                        <a href="http://d2huq83j2o5dyd.cloudfront.net/jhades-jars/jhades-1.0.4.jar" ng-click='onDonwloadJHadesCore()'>JHades - jhades-1.0.4.jar</a>
                    </li>
                    <li>
                        <a href="http://d2huq83j2o5dyd.cloudfront.net/jhades-jars/jhades-standalone-report-1.0.4.jar" ng-click='onDonwloadJHadesStandalone()'>WAR Duplicate Classes Report - jhades-standalone-report-1.0.4.jar</a>
                    </li>
                </ul>

            </section>

            <section>
                <div class='page-header'>
                    <h3>Maven dependencies</h3>
                </div>

                <p>Jhades can be installed with this maven dependency:</p>

                <pre class="prettyprint linenums">

&lt;dependency&gt;<br/>    &lt;groupId&gt;org.jhades&lt;/groupId&gt;<br/>    &lt;artifactId&gt;jhades&lt;/artifactId&gt;<br/>    &lt;version&gt;1.0.4&lt;/version&gt;<br/>&lt;/dependency&gt;
                </pre>

                <p>The WAR duplicate classes report can be installed with this dependency:</p>

                <pre class="prettyprint linenums">

&lt;dependency&gt;<br/>    &lt;groupId&gt;org.jhades&lt;/groupId&gt;<br/>    &lt;artifactId&gt;jhades-standalone-report&lt;/artifactId&gt;<br/>    &lt;version&gt;1.0.4&lt;/version&gt;<br/>&lt;/dependency&gt;
                </pre>

            </section>
            
        </div>
    </div>

     <!-- div id="disqus_thread" class='disqus-comments'></div>
        <script type="text/javascript">
            var disqus_shortname = 'jhades'; // required: replace example with your forum shortname

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();

        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

    </div -->

</div>

    <div class="footer"> 
        <div class="container"> 
            <p class="pull-right"><a href="#" target="_self">Back to top</a></p> 
            <p>Code licensed under the  <a href="http://www.opensource.org/licenses/mit-license.php" target="_blank"> MIT License</a>. 
            </p> 
        </div> 
    </footer>

    <!-- build:js jhades-site-documentation.min.js -->
    <script type="text/javascript" src="js/libs/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/libs/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap.js"></script>
    <script type="text/javascript" src="js/libs/prettify.js"></script>
    <script type="text/javascript" src="js/libs/angular.js"></script>
    <script type="text/javascript" src="js/libs/spin.js"></script>  
    <script type="text/javascript" src="js/libs/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="js/libs/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="js/libs/jquery.fileupload.js"></script>
    <script type="text/javascript" src="js/libs/socket.io.js"></script>                            
    <!-- endbuild -->     
    <script type="text/javascript" src="js/jhades-all.js"></script>  
</body>
</html>
